page-final-well-hacked {
    .header-text {
        font-size: 30px;
        margin-top: 100px;
        color: color($colors, primary);
        text-transform: uppercase
    }
    .checkmark-green {
        font-size: 75px;
        color: #428642;
    }
}
