page-timer {
    .disclaimer {
        padding: 10px 20px;
        background-color: rgba(230, 228, 157, 0.651);
    
    .page-timer-text {
            color: #000;
            opacity: 1;
            margin: 0px;
            padding: 0px;
        }
    }
}
