page-timer {
    .disclaimer {
        
        background-color: #F8E71C;
        opacity: 0.2;
        p {
            opacity: 1;
            margin: 0px;
            padding: 0px;
        }
    }
}
