page-home {

    .app-title {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }

    h1 {
        font-size: 40px;
        line-height: 55px;
        text-align: center;
    }

}
