page-choose-hackers {
    .prompt-text {
        font-style: italic;
        color: color($colors, light);
    }

    .hackers-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
}
