<!--
  Generated template for the CameraPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-buttons right>
    <button margin color="light" round icon-only end (click)='showMediaDevices()'ion-button> 
      <ion-icon class="reverse-camera" name="reverse-camera" >
      </ion-icon>  
  </button>
  </ion-buttons>
</ion-header>


<ion-content no-margin no-padding>
  <img #image [src]="imageData" [hidden]=true alt="">
  <video #video [srcObject]="videoSource" autoplay></video>
  <canvas #canvas [hidden]=true> </canvas>
</ion-content>

<ion-footer>
  <button *ngIf="!pictureTaken"
  (click)="takePicture()"
  ion-button block
  large no-margin>
  TAKE PIC
  <ion-icon name="camera" margin-left></ion-icon>
</button>

<ion-grid no-padding>
  <ion-row>
    <ion-col>
      <button  *ngIf="pictureTaken"
      (click)="savePicture()"
      ion-button block
      large no-margin>
      SAVE   
      <ion-icon name="download" margin-left></ion-icon>
    </button>
  </ion-col>
  <ion-col>
    <button *ngIf="pictureTaken"
    color="tertiary"
    (click)="changeVisibilityConditions()"
    ion-button block
    large no-margin>
    DISCARD   
    <ion-icon name="trash" margin-left></ion-icon>
  </button>
  
</ion-col>
</ion-row>
</ion-grid>


</ion-footer>