<!--
  Generated template for the CameraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<canvas #canvas
        *ngIf="!pictureTaken"> 
      </canvas>
<video #video
       *ngIf="!pictureTaken"
       [srcObject]="videoSource" autoplay></video>

<img *ngIf="pictureTaken"
[src]="photoData" alt="">

<ion-footer>
  <button *ngIf="!pictureTaken"
          (click)="takePicture()"
          ion-button block
          large no-margin>
          TAKE PICTURE
  </button>
  <button *ngIf="pictureTaken"
          ion-button block
          large no-margin>
          SAVE
  </button>

</ion-footer>