<!--
  Generated template for the CameraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
<ion-grid>
    <ion-row>
      <ion-col col-12>
        <canvas #canvas> </canvas>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col col-12>
        <video #video [srcObject]="videoSource" autoplay></video>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <button *ngIf="!pictureTaken"
          (click)="takePicture()"
          ion-button block
          large no-margin>
          TAKE PICTURE
  </button>
  <button *ngIf="pictureTaken"
          (click)="savePicture()"
          ion-button block
          large no-margin>
          SAVE
  </button>

</ion-footer>