hacker-avatar {
    .hacker-avatar {
        height: 75px;
        width: 75px;
        background-color: color($colors,light);
        border-radius: 50%;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        p {
            color: white;
            width: 80%;
            margin: 0 auto;
            font-size: 10px;
            margin-bottom: 10px;
        }
    }
}
