page-review-hack {

    .problem-statement {
        background-color: #F8E71C;
    }
    .tab {
        background-color: color($colors, primary);
        color: #fff;
        font-size: 12px;
        padding: 15px 0px;
    }
}
